<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite thread-count="5" parallel = "tests" name="Suite">

<listeners>
<listener class-name="mmr.TestComponents.Listeners"/>
</listeners>
  <test name="Books Test">
    <classes>
     <class name="mmr.runners.TestRunner"/>
    </classes>
  </test> <!-- Test -->
   		
</suite> <!-- Suite -->


